/* Обнуление */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, 
body {
    height: 100%;    
}

body {
    /* background-color: rgb(202, 158, 243);  */
    background-color: antiquewhite;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

.wrapper {
    font-family: 'Inter';
    font-weight: 400;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100%; /*!!!*/
    display: flex; /*!!!*/
    flex-direction: column; /*!!!*/
    background-color: antiquewhite;
    border-right: 1px solid rgb(233, 218, 199);
    border-left: 1px solid rgb(233, 218, 199);
}
/* ----------------------- */

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    padding: 10px 20px;
    /* background-color: rgb(88, 62, 112); */
    background-color: rgb(233, 218, 199);
}

.login {
    font-size: 20px;
    font-weight: 700;
    /* color: darksalmon; */
    color: rgb(103, 136, 173);
}

.nav {    
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;    
}

.button {
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
    color: #294234;
}

.button:hover {
    letter-spacing: 5px;
}

.nav-btn {
    line-height: 50px;
    font-weight: 700;
    color: rgb(66, 97, 87);
}

.main {
    margin-top: 80px;
    padding: 0 20px;
    flex: 1 1 auto; /*!!!*/    
}

.form {
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    row-gap: 30px;
}

.one-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.category-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #294234;
    letter-spacing: 1px;
}

.products {    
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
    text-align: center;
}

.one-product {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    background-color: #47E585;
    /* background-color: indianred; */
}

.label { 
    margin: auto;
    width: 170px;
}

.input {
    border: 1px solid #000;
    text-align: center;    
    font-size: 18px;
    background-color: antiquewhite;
    border-color: #fff;
    border-style: groove;
}

.footer {
    background-color: rgb(233, 218, 199);
}